# WA COVID19 Cases

## Contents:
### 01. Import libraries and data
### 02. Explore data
### 03. Wrangle data
### 04. Export data

## 01. Import libraries and data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Ensure the charts created are displayed in the notebook without the need to "call" them specifically.

%matplotlib inline

In [3]:
# Create path shortcut

path = r'C:\Users\lrutl\OneDrive\Desktop\Advanced Analytics & Dashboard Design\COVID19 School ReOpening and Students'

In [4]:
# Import data

cc = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'WA_COVID19_Cases_Hospitalizations_Deaths.csv'))

## 02. Explore data

In [5]:
cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   County            769 non-null    object
 1   WeekStartDate     769 non-null    object
 2   ProbableCases     769 non-null    int64
 3   ConfirmedCases    769 non-null    int64
 4   7-Day Count       769 non-null    int64
 5   7-Day Average     769 non-null    float64
 6   Age 0-19          769 non-null    int64
 7   Age 20-34         769 non-null    int64
 8   Age 35-49         769 non-null    int64
 9   Age 50-64         769 non-null    int64
 10  Age 65-79         769 non-null    int64
 11  Age 80+           769 non-null    int64
 12  UnknownAge        769 non-null    int64
 13  14-Day Count      769 non-null    int64
 14  14-Day Case Rate  749 non-null    float64
 15  dtm_updated       769 non-null    object
dtypes: float64(2), int64(11), object(3)
memory usage: 96.2+ KB

In [6]:
cc.head()

,County,WeekStartDate,ProbableCases,ConfirmedCases,7-Day Count,7-Day Average,Age 0-19,Age 20-34,Age 35-49,Age 50-64,Age 65-79,Age 80+,UnknownAge,14-Day Count,14-Day Case Rate,dtm_updated
0,Adams,5/31/2021,0,7,7,1.00,3,1,2,0,1,0,0,21,102.69,8/16/2021 11:26
1,Asotin,5/31/2021,0,2,2,0.29,0,0,0,1,1,0,0,11,48.59,8/16/2021 11:26
2,Benton,5/31/2021,6,136,142,20.29,36,45,25,21,15,0,0,271,131.75,8/16/2021 11:26
3,Chelan,5/31/2021,21,9,30,4.29,5,14,4,2,2,3,0,63,79.09,8/16/2021 11:26
4,Clallam,5/31/2021,4,13,17,2.43,0,4,6,3,1,3,0,55,71.64,8/16/2021 11:26

In [7]:
cc.shape

(769, 16)

## 03. Wrangle data

In [26]:
# Check Counties

cc.value_counts('County')

County
Adams           20
Klickitat       20
Lincoln         20
Mason           20
Okanogan        20
Pacific         20
Pend Oreille    20
Pierce          20
Skagit          20
Snohomish       20
Spokane         20
Stevens         20
Thurston        20
Unassigned      20
Walla Walla     20
Whatcom         20
Whitman         20
Asotin          20
Lewis           20
Kittitas        20
Kitsap          20
Benton          20
Chelan          20
Clallam         20
Clark           20
Cowlitz         20
Douglas         20
Ferry           20
Yakima          20
Franklin        20
Grant           20
Grays Harbor    20
Island          20
King            20
Skamania        19
San Juan        17
Jefferson       17
Wahkiakum       15
Garfield        13
Columbia         8
dtype: int64

In [27]:
# Remove Unassigned County rows

cc = cc[cc['County'] != 'Unassigned']

In [28]:
# Check rows were removed

cc.value_counts('County')

County
Adams           20
Kittitas        20
Lewis           20
Lincoln         20
Mason           20
Okanogan        20
Pacific         20
Pend Oreille    20
Pierce          20
Skagit          20
Snohomish       20
Spokane         20
Stevens         20
Thurston        20
Walla Walla     20
Whatcom         20
Whitman         20
Asotin          20
Klickitat       20
Kitsap          20
Ferry           20
Benton          20
Chelan          20
Clallam         20
Clark           20
Cowlitz         20
Douglas         20
King            20
Yakima          20
Franklin        20
Grant           20
Grays Harbor    20
Island          20
Skamania        19
San Juan        17
Jefferson       17
Wahkiakum       15
Garfield        13
Columbia         8
dtype: int64

In [29]:
# Drop columns not needed in analysis

cc = cc.drop(columns = ['dtm_updated'])

In [30]:
cc.head()

,County,WeekStartDate,ProbableCases,ConfirmedCases,7-Day Count,7-Day Average,Age 0-19,Age 20-34,Age 35-49,Age 50-64,Age 65-79,Age 80+,UnknownAge,14-Day Count,14-Day Case Rate
0,Adams,5/31/2021,0,7,7,1.00,3,1,2,0,1,0,0,21,102.69
1,Asotin,5/31/2021,0,2,2,0.29,0,0,0,1,1,0,0,11,48.59
2,Benton,5/31/2021,6,136,142,20.29,36,45,25,21,15,0,0,271,131.75
3,Chelan,5/31/2021,21,9,30,4.29,5,14,4,2,2,3,0,63,79.09
4,Clallam,5/31/2021,4,13,17,2.43,0,4,6,3,1,3,0,55,71.64

## 04. Export data

In [31]:
# Export data as csv file

cc.to_csv(os.path.join(path,'02 Data','Prepared data','WA_COVID19_Cases_Hospitalizations_Deaths - clean.csv'))