# COVID19 School Re-Opening and Students

## Contents:
#### 01. Import libraries and data
#### 02. Clean data
#### 03. Wrangle data
#### 04. Merge datasets
#### 05. Descriptive analysis
#### 06. Export data

## 01. Import libraries and data

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [3]:
# Check matplotlib version

matplotlib.__version__

'3.3.4'

In [4]:
# Ensure the charts created are displayed in the notebook without the need to "call" them specifically.

%matplotlib inline

In [5]:
# Create path shortcut

path = r'C:\Users\lrutl\OneDrive\Desktop\Advanced Analytics & Dashboard Design\COVID19 School ReOpening and Students'

In [6]:
# Import Report_Card_Enrollment_2020-21_School_Year data

student = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'Report_Card_Enrollment_2020-21_School_Year.csv'))

C:\Users\lrutl\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
# Import School_Facility_ReOpening_Survey data

reopening = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'School_Facility_ReOpening_Survey.csv'))

In [8]:
# Check data import - student

student.info()
student.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20151 entries, 0 to 20150
Data columns (total 43 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SchoolYear                               20151 non-null  object
 1   OrganizationLevel                        20151 non-null  object
 2   County                                   20151 non-null  object
 3   ESDName                                  19829 non-null  object
 4   ESDOrganizationId                        19813 non-null  float64
 5   DistrictCode                             20135 non-null  float64
 6   DistrictName                             20151 non-null  object
 7   DistrictOrganizationId                   20135 non-null  float64
 8   SchoolCode                               15740 non-null  float64
 9   SchoolName                               20151 non-null  object
 10  SchoolOrganizationId                     15740 non-null  float64
 11  CurrentSchoolType                        15740 non-null  object
 12  GradeLevel                               20151 non-null  object
 13  All Students                             20151 non-null  int64
 14  Female                                   20151 non-null  int64
 15  Gender X                                 20151 non-null  int64
 16  Male                                     20151 non-null  int64
 17  American Indian/ Alaskan Native          20151 non-null  int64
 18  Asian                                    20151 non-null  int64
 19  Black/ African American                  20151 non-null  int64
 20  Hispanic/ Latino of any race(s)          20151 non-null  int64
 21  Native Hawaiian/ Other Pacific Islander  20151 non-null  int64
 22  Two or More Races                        20151 non-null  int64
 23  White                                    20151 non-null  int64
 24  English Language Learners                20151 non-null  int64
 25  Highly Capable                           20151 non-null  int64
 26  Homeless                                 20151 non-null  int64
 27  Low-Income                               20151 non-null  int64
 28  Migrant                                  20151 non-null  int64
 29  Military Parent                          20151 non-null  int64
 30  Mobile                                   20151 non-null  int64
 31  Section 504                              20151 non-null  int64
 32  Students with Disabilities               20151 non-null  int64
 33  Non-English Language Learners            20151 non-null  int64
 34  Non-Highly Capable                       20151 non-null  int64
 35  Non-Homeless                             20151 non-null  int64
 36  Non-Low Income                           20151 non-null  int64
 37  Non Migrant                              20151 non-null  int64
 38  Non Military Parent                      20151 non-null  int64
 39  Non Mobile                               20151 non-null  int64
 40  Non Section 504                          20151 non-null  int64
 41  Students without Disabilities            20151 non-null  int64
 42  DataAsOf                                 20151 non-null  object
dtypes: float64(5), int64(29), object(9)
memory usage: 6.6+ MB

,SchoolYear,OrganizationLevel,County,ESDName,ESDOrganizationId,DistrictCode,DistrictName,DistrictOrganizationId,SchoolCode,SchoolName,...,Non-English Language Learners,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities,DataAsOf
0,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,...,76427,78524,82500,48145,82514,82754,82954,79213,73893,2/17/2021
1,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,...,76821,78076,82242,49727,82195,82476,82421,78694,74096,2/17/2021
2,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,...,84924,86101,89144,54868,90040,90292,88202,86211,78722,2/17/2021
3,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,...,62368,77363,76735,42836,77287,75850,76729,77799,68620,2/17/2021
4,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,...,65020,76503,77932,43026,78400,77174,78051,78456,68970,2/17/2021

In [9]:
# Check data import - reopening

reopening.info()
reopening.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6042 entries, 0 to 6041
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Week                          6042 non-null   object
 1   DistrictName                  6042 non-null   object
 2   DistrictCode                  6042 non-null   int64
 3   DistrictOrganizationId        6042 non-null   int64
 4   Status                        5241 non-null   object
 5   Model_Elementary              5228 non-null   object
 6   Model_Middle                  5214 non-null   object
 7   Model_High                    5186 non-null   object
 8   GradeLevels_Remote_Phasein    916 non-null    object
 9   StudentGroups_Remote_Phasein  1033 non-null   object
 10  Other_Remote_Phasein          258 non-null    object
 11  Enrollment_Elementary         6042 non-null   int64
 12  FullTimeALE_Elementary        6042 non-null   int64
 13  OptOut_Elementary             6042 non-null   int64
 14  TypicalInPerson_Elementary    6042 non-null   int64
 15  Weekly_Elementary             6042 non-null   int64
 16  Enrollment_Middle             6042 non-null   int64
 17  FullTimeALE_Middle            6042 non-null   int64
 18  OptOut_Middle                 6042 non-null   int64
 19  TypicalInPerson_Middle        6042 non-null   int64
 20  Weekly_Middle                 6042 non-null   int64
 21  Enrollment_High               6042 non-null   int64
 22  FullTimeALE_High              6042 non-null   int64
 23  OptOut_High                   6042 non-null   int64
 24  TypicalInPerson_High          6042 non-null   int64
 25  Weekly_High                   6042 non-null   int64
dtypes: int64(17), object(9)
memory usage: 1.2+ MB

,Week,DistrictName,DistrictCode,DistrictOrganizationId,Status,Model_Elementary,Model_Middle,Model_High,GradeLevels_Remote_Phasein,StudentGroups_Remote_Phasein,...,Enrollment_Middle,FullTimeALE_Middle,OptOut_Middle,TypicalInPerson_Middle,Weekly_Middle,Enrollment_High,FullTimeALE_High,OptOut_High,TypicalInPerson_High,Weekly_High
0,Week of 1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,NaN,NaN,...,155,0,0,90,155,212,0,0,130,212
1,Week of 1/18/2021,Almira School District,22017,100012,Complete,Typical/Traditional In-Person,Typical/Traditional In-Person,Partial In-Person for All Students,NaN,NaN,...,21,0,0,21,21,20,0,0,20,20
2,Week of 1/18/2021,Arlington School District,31016,100014,Complete,Phase-In,Small Groups + Remote,Small Groups + Remote,"Grade K,Grade 1,Grade 2,Grade 3","English Language Learners,Students with Disabi...",...,1296,0,0,74,74,1702,0,0,120,120
3,Week of 1/18/2021,Asotin-Anatone School District,2420,100015,Complete,Typical/Traditional In-Person,Typical/Traditional In-Person,Partial In-Person for All Students,NaN,NaN,...,144,0,0,136,136,192,0,0,93,93
4,Week of 1/18/2021,Auburn School District,17408,100016,Complete,Small Groups + Remote,Small Groups + Remote,Small Groups + Remote,"Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade ...","Low Income,Students with Disabilities",...,3865,0,0,15,30,5421,0,0,18,36

## 02. Clean data

In [10]:
# Find missing values - reopening

reopening.isnull().sum()

# Columns with missing values are expected due to nature of variables.

Week                               0
DistrictName                       0
DistrictCode                       0
DistrictOrganizationId             0
Status                           801
Model_Elementary                 814
Model_Middle                     828
Model_High                       856
GradeLevels_Remote_Phasein      5126
StudentGroups_Remote_Phasein    5009
Other_Remote_Phasein            5784
Enrollment_Elementary              0
FullTimeALE_Elementary             0
OptOut_Elementary                  0
TypicalInPerson_Elementary         0
Weekly_Elementary                  0
Enrollment_Middle                  0
FullTimeALE_Middle                 0
OptOut_Middle                      0
TypicalInPerson_Middle             0
Weekly_Middle                      0
Enrollment_High                    0
FullTimeALE_High                   0
OptOut_High                        0
TypicalInPerson_High               0
Weekly_High                        0
dtype: int64

In [11]:
# Find missing values - student

student.isnull().sum()

# Columns with missing values are expected due to nature of variables

SchoolYear                                    0
OrganizationLevel                             0
County                                        0
ESDName                                     322
ESDOrganizationId                           338
DistrictCode                                 16
DistrictName                                  0
DistrictOrganizationId                       16
SchoolCode                                 4411
SchoolName                                    0
SchoolOrganizationId                       4411
CurrentSchoolType                          4411
GradeLevel                                    0
All Students                                  0
Female                                        0
Gender X                                      0
Male                                          0
American Indian/ Alaskan Native               0
Asian                                         0
Black/ African American                       0
Hispanic/ Latino of any race(s)               0
Native Hawaiian/ Other Pacific Islander       0
Two or More Races                             0
White                                         0
English Language Learners                     0
Highly Capable                                0
Homeless                                      0
Low-Income                                    0
Migrant                                       0
Military Parent                               0
Mobile                                        0
Section 504                                   0
Students with Disabilities                    0
Non-English Language Learners                 0
Non-Highly Capable                            0
Non-Homeless                                  0
Non-Low Income                                0
Non Migrant                                   0
Non Military Parent                           0
Non Mobile                                    0
Non Section 504                               0
Students without Disabilities                 0
DataAsOf                                      0
dtype: int64

In [12]:
# reopening df - Check for columns with mixed data types

for col in reopening.columns.tolist():
      weird = (reopening[[col]].applymap(type) != reopening[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (reopening[weird]) > 0:
        print (col)

Status
Model_Elementary
Model_Middle
Model_High
GradeLevels_Remote_Phasein
StudentGroups_Remote_Phasein
Other_Remote_Phasein

In [13]:
# reopening df - Change mixed data type columns to string

reopening['Status'] = reopening['Status'].astype('str')
reopening['Model_Elementary'] = reopening['Model_Elementary'].astype('str') 
reopening['Model_Middle'] = reopening['Model_Middle'].astype('str')
reopening['Model_High'] = reopening['Model_High'].astype('str')
reopening['GradeLevels_Remote_Phasein'] = reopening['GradeLevels_Remote_Phasein'].astype('str')
reopening['StudentGroups_Remote_Phasein'] = reopening['StudentGroups_Remote_Phasein'].astype('str')
reopening['Other_Remote_Phasein'] = reopening['Other_Remote_Phasein'].astype('str')

In [14]:
# reopening df - Check mixed data columns are fixed

for col in reopening.columns.tolist():
      weird = (reopening[[col]].applymap(type) != reopening[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (reopening[weird]) > 0:
        print (col)

In [15]:
# student df - Check for columns with mixed data types

for col in student.columns.tolist():
      weird2 = (student[[col]].applymap(type) != student[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (student[weird2]) > 0:
        print (col)

ESDName
CurrentSchoolType

In [16]:
# student df - Change mixed data type columns to object

student['ESDName'] = student['ESDName'].astype('str')
student['CurrentSchoolType'] = student['CurrentSchoolType'].astype('str')

In [17]:
# student df - Check mixed data columns are fixed

for col in student.columns.tolist():
      weird2 = (student[[col]].applymap(type) != student[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (student[weird2]) > 0:
        print (col)

In [18]:
# reopening df - Check for duplicate rows

reopening_dups =  reopening[reopening.duplicated()]

In [19]:
reopening_dups.shape

(0, 26)

In [20]:
# student df - Check for duplicate rows

student_dups = student[student.duplicated()]

In [21]:
student_dups.shape

(0, 43)

## 03. Wrangle data

In [22]:
# student df - drop columns that are not necessary for analysis - SchoolCode, SchoolName, SchoolOrganizationId, DataAsOf

student = student.drop(columns = ['SchoolCode'])
student = student.drop(columns = ['SchoolName'])
student = student.drop(columns = ['SchoolOrganizationId'])
student = student.drop(columns = ['DataAsOf'])

In [23]:
# student df - check columns were removed

student.head(10)

,SchoolYear,OrganizationLevel,County,ESDName,ESDOrganizationId,DistrictCode,DistrictName,DistrictOrganizationId,CurrentSchoolType,GradeLevel,...,Students with Disabilities,Non-English Language Learners,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities
0,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,10th Grade,...,10359,76427,78524,82500,48145,82514,82754,82954,79213,73893
1,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,11th Grade,...,9828,76821,78076,82242,49727,82195,82476,82421,78694,74096
2,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,12th Grade,...,12990,84924,86101,89144,54868,90040,90292,88202,86211,78722
3,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,1st Grade,...,9991,62368,77363,76735,42836,77287,75850,76729,77799,68620
4,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,2nd Grade,...,10795,65020,76503,77932,43026,78400,77174,78051,78456,68970
5,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,3rd Grade,...,11456,67528,74213,77960,42846,78254,77353,78166,77916,68304
6,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,4th Grade,...,12161,70281,74728,79344,43264,79584,78834,79665,78659,68995
7,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,5th Grade,...,12121,72701,74590,79946,43333,80082,79620,80420,78732,69634
8,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,6th Grade,...,11951,75787,76528,82425,44523,82498,82198,82842,80738,72267
9,2020-21,State,Multiple,State Total,NaN,NaN,State Total,NaN,nan,7th Grade,...,11763,78597,78853,84644,46087,84643,84489,85089,82291,74689

In [24]:
# reopening df - rename Week column for clarity

reopening.rename(columns = {'Week' : 'Week Of'}, inplace = True)

In [25]:
# reopening df - check column was renamed

reopening.head(10)

,Week Of,DistrictName,DistrictCode,DistrictOrganizationId,Status,Model_Elementary,Model_Middle,Model_High,GradeLevels_Remote_Phasein,StudentGroups_Remote_Phasein,...,Enrollment_Middle,FullTimeALE_Middle,OptOut_Middle,TypicalInPerson_Middle,Weekly_Middle,Enrollment_High,FullTimeALE_High,OptOut_High,TypicalInPerson_High,Weekly_High
0,Week of 1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,155,0,0,90,155,212,0,0,130,212
1,Week of 1/18/2021,Almira School District,22017,100012,Complete,Typical/Traditional In-Person,Typical/Traditional In-Person,Partial In-Person for All Students,nan,nan,...,21,0,0,21,21,20,0,0,20,20
2,Week of 1/18/2021,Arlington School District,31016,100014,Complete,Phase-In,Small Groups + Remote,Small Groups + Remote,"Grade K,Grade 1,Grade 2,Grade 3","English Language Learners,Students with Disabi...",...,1296,0,0,74,74,1702,0,0,120,120
3,Week of 1/18/2021,Asotin-Anatone School District,2420,100015,Complete,Typical/Traditional In-Person,Typical/Traditional In-Person,Partial In-Person for All Students,nan,nan,...,144,0,0,136,136,192,0,0,93,93
4,Week of 1/18/2021,Auburn School District,17408,100016,Complete,Small Groups + Remote,Small Groups + Remote,Small Groups + Remote,"Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade ...","Low Income,Students with Disabilities",...,3865,0,0,15,30,5421,0,0,18,36
5,Week of 1/18/2021,Bainbridge Island School District,18303,100017,Complete,Small Groups + Remote,Small Groups + Remote,Small Groups + Remote,"Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade ...",Students with Disabilities,...,1133,0,0,20,20,1332,0,0,20,20
6,Week of 1/18/2021,Battle Ground School District,6119,100018,Complete,Phase-In,Small Groups + Remote,Small Groups + Remote,Grade K,"English Language Learners,Foster Care,Low Inco...",...,3800,0,0,500,500,4000,0,0,500,500
7,Week of 1/18/2021,Bellingham School District,37501,100020,Complete,Phase-In,Small Groups + Remote,Small Groups + Remote,"Grade K,Grade 1,Grade 2","Students with Disabilities,Other - Write In (R...",...,2467,0,0,136,136,3255,0,0,158,158
8,Week of 1/18/2021,Benge School District,1122,100021,Complete,Partial In-Person for All Students,nan,nan,nan,nan,...,0,0,0,0,0,0,0,0,0,0
9,Week of 1/18/2021,Bethel School District,27403,100022,Complete,Small Groups + Remote,Small Groups + Remote,Small Groups + Remote,"Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade ...",All Students,...,4769,0,0,42,139,5171,0,0,47,156

In [26]:
# reopening df - remove "Week of" text from all values in Week Of column

reopening['Week Of'] = reopening['Week Of'].str.replace(r'Week of ', '')

In [27]:
# reopening df - check column values were updated

reopening['Week Of'].value_counts(dropna = False)

5/17/2021    319
4/19/2021    319
5/10/2021    319
1/25/2021    319
3/29/2021    319
4/26/2021    319
4/12/2021    319
3/1/2021     318
5/31/2021    318
2/22/2021    318
3/15/2021    318
3/8/2021     318
2/8/2021     318
5/3/2021     318
2/15/2021    317
5/24/2021    317
1/18/2021    317
2/1/2021     316
3/22/2021    316
Name: Week Of, dtype: int64

## 04. Merge datasets

In [28]:
# Check shape of student dataset

student.shape

(20151, 39)

In [29]:
# Check shape of reopening dataset

reopening.shape

(6042, 26)

In [53]:
# Merge student df and reopening df using district name as key, add a merge flag

df_merged = reopening.merge(student, on = ['DistrictName'], indicator = True)

In [54]:
# Check merged data

df_merged['_merge'].value_counts()

both          363359
left_only          0
right_only         0
Name: _merge, dtype: int64

In [55]:
df_merged.head(50)

,Week Of,DistrictName,DistrictCode_x,DistrictOrganizationId_x,Status,Model_Elementary,Model_Middle,Model_High,GradeLevels_Remote_Phasein,StudentGroups_Remote_Phasein,...,Non-English Language Learners,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities,_merge
0,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,43,43,42,33,43,42,42,43,35,both
1,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,33,33,33,24,33,33,31,33,30,both
2,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,38,37,37,29,38,38,36,38,33,both
3,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,41,40,41,27,41,41,40,41,35,both
4,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,30,29,30,19,30,29,29,30,25,both
5,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,215,212,213,155,215,212,207,215,185,both
6,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,29,29,29,22,29,28,28,29,27,both
7,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,1,1,1,1,1,1,1,1,0,both
8,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,39,36,37,22,39,39,38,39,37,both
9,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,53,52,53,38,53,52,52,52,46,both
10,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,66,64,66,48,66,66,65,64,63,both
11,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,51,48,51,37,51,51,50,50,44,both
12,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,49,46,47,35,49,48,46,49,44,both
13,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,57,52,55,37,57,55,55,56,51,both
14,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,61,56,61,46,61,60,59,58,57,both
15,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,376,354,370,263,376,371,365,368,342,both
16,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,39,36,37,22,39,39,38,39,37,both
17,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,53,52,53,38,53,52,52,52,46,both
18,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,66,64,66,48,66,66,65,64,63,both
19,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,43,43,42,33,43,42,42,43,35,both
20,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,33,33,33,24,33,33,31,33,30,both
21,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,38,37,37,29,38,38,36,38,33,both
22,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,41,40,41,27,41,41,40,41,35,both
23,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,30,29,30,19,30,29,29,30,25,both
24,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,51,48,51,37,51,51,50,50,44,both
25,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,49,46,47,35,49,48,46,49,44,both
26,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,57,52,55,37,57,55,55,56,51,both
27,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,61,56,61,46,61,60,59,58,57,both
28,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,591,566,583,418,591,583,572,583,527,both
29,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,29,29,29,22,29,28,28,29,27,both
30,1/18/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,1,1,1,1,1,1,1,1,0,both
31,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,43,43,42,33,43,42,42,43,35,both
32,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,33,33,33,24,33,33,31,33,30,both
33,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,38,37,37,29,38,38,36,38,33,both
34,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,41,40,41,27,41,41,40,41,35,both
35,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,30,29,30,19,30,29,29,30,25,both
36,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,215,212,213,155,215,212,207,215,185,both
37,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,29,29,29,22,29,28,28,29,27,both
38,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,1,1,1,1,1,1,1,1,0,both
39,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,39,36,37,22,39,39,38,39,37,both
40,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,53,52,53,38,53,52,52,52,46,both
41,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,66,64,66,48,66,66,65,64,63,both
42,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,51,48,51,37,51,51,50,50,44,both
43,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,49,46,47,35,49,48,46,49,44,both
44,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,57,52,55,37,57,55,55,56,51,both
45,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,61,56,61,46,61,60,59,58,57,both
46,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,376,354,370,263,376,371,365,368,342,both
47,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,39,36,37,22,39,39,38,39,37,both
48,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,53,52,53,38,53,52,52,52,46,both
49,1/25/2021,Adna School District,21226,100011,Complete,Typical/Traditional In-Person,Partial In-Person for All Students,Partial In-Person for All Students,nan,nan,...,66,64,66,48,66,66,65,64,63,both

In [67]:
df_merged.columns

Index(['Week Of', 'DistrictName', 'DistrictCode_x', 'DistrictOrganizationId_x',
       'Status', 'Model_Elementary', 'Model_Middle', 'Model_High',
       'Enrollment_Elementary', 'FullTimeALE_Elementary', 'OptOut_Elementary',
       'TypicalInPerson_Elementary', 'Weekly_Elementary', 'Enrollment_Middle',
       'FullTimeALE_Middle', 'OptOut_Middle', 'TypicalInPerson_Middle',
       'Weekly_Middle', 'Enrollment_High', 'FullTimeALE_High', 'OptOut_High',
       'TypicalInPerson_High', 'Weekly_High', 'SchoolYear',
       'OrganizationLevel', 'County', 'ESDName', 'ESDOrganizationId',
       'DistrictCode_y', 'DistrictOrganizationId_y', 'CurrentSchoolType',
       'GradeLevel', 'All Students', 'Female', 'Gender X', 'Male',
       'American Indian/ Alaskan Native', 'Asian', 'Black/ African American',
       'Hispanic/ Latino of any race(s)',
       'Native Hawaiian/ Other Pacific Islander', 'Two or More Races', 'White',
       'English Language Learners', 'Highly Capable', 'Homeless', 'Low-Income',
       'Migrant', 'Military Parent', 'Mobile', 'Section 504',
       'Students with Disabilities', 'Non-English Language Learners',
       'Non-Highly Capable', 'Non-Homeless', 'Non-Low Income', 'Non Migrant',
       'Non Military Parent', 'Non Mobile', 'Non Section 504',
       'Students without Disabilities'],
      dtype='object')

In [68]:
df_merged.shape

(363359, 61)

In [81]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363359 entries, 0 to 363358
Data columns (total 61 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Week Of                                  363359 non-null  object
 1   DistrictName                             363359 non-null  object
 2   DistrictCode_x                           363359 non-null  int64
 3   DistrictOrganizationId_x                 363359 non-null  int64
 4   Status                                   363359 non-null  object
 5   Model_Elementary                         363359 non-null  object
 6   Model_Middle                             363359 non-null  object
 7   Model_High                               363359 non-null  object
 8   Enrollment_Elementary                    363359 non-null  int64
 9   FullTimeALE_Elementary                   363359 non-null  int64
 10  OptOut_Elementary                        363359 non-null  int64
 11  TypicalInPerson_Elementary               363359 non-null  int64
 12  Weekly_Elementary                        363359 non-null  int64
 13  Enrollment_Middle                        363359 non-null  int64
 14  FullTimeALE_Middle                       363359 non-null  int64
 15  OptOut_Middle                            363359 non-null  int64
 16  TypicalInPerson_Middle                   363359 non-null  int64
 17  Weekly_Middle                            363359 non-null  int64
 18  Enrollment_High                          363359 non-null  int64
 19  FullTimeALE_High                         363359 non-null  int64
 20  OptOut_High                              363359 non-null  int64
 21  TypicalInPerson_High                     363359 non-null  int64
 22  Weekly_High                              363359 non-null  int64
 23  SchoolYear                               363359 non-null  object
 24  OrganizationLevel                        363359 non-null  object
 25  County                                   363359 non-null  object
 26  ESDName                                  363359 non-null  object
 27  ESDOrganizationId                        360189 non-null  float64
 28  DistrictCode_y                           363359 non-null  float64
 29  DistrictOrganizationId_y                 363359 non-null  float64
 30  CurrentSchoolType                        363359 non-null  object
 31  GradeLevel                               363359 non-null  object
 32  All Students                             363359 non-null  int64
 33  Female                                   363359 non-null  int64
 34  Gender X                                 363359 non-null  int64
 35  Male                                     363359 non-null  int64
 36  American Indian/ Alaskan Native          363359 non-null  int64
 37  Asian                                    363359 non-null  int64
 38  Black/ African American                  363359 non-null  int64
 39  Hispanic/ Latino of any race(s)          363359 non-null  int64
 40  Native Hawaiian/ Other Pacific Islander  363359 non-null  int64
 41  Two or More Races                        363359 non-null  int64
 42  White                                    363359 non-null  int64
 43  English Language Learners                363359 non-null  int64
 44  Highly Capable                           363359 non-null  int64
 45  Homeless                                 363359 non-null  int64
 46  Low-Income                               363359 non-null  int64
 47  Migrant                                  363359 non-null  int64
 48  Military Parent                          363359 non-null  int64
 49  Mobile                                   363359 non-null  int64
 50  Section 504                              363359 non-null  int64
 51  Students with Disabilities               363359 non-null  int64
 52  Non-English Language Learners            363359 non-null  int64
 53  Non-Highly Capable                       363359 non-null  int64
 54  Non-Homeless                             363359 non-null  int64
 55  Non-Low Income                           363359 non-null  int64
 56  Non Migrant                              363359 non-null  int64
 57  Non Military Parent                      363359 non-null  int64
 58  Non Mobile                               363359 non-null  int64
 59  Non Section 504                          363359 non-null  int64
 60  Students without Disabilities            363359 non-null  int64
dtypes: float64(3), int64(46), object(12)
memory usage: 171.9+ MB

In [85]:
# Change data types for analysis

df_merged['DistrictCode_x'] = df_merged['DistrictCode_x'].astype('object')
df_merged['DistrictOrganizationId_x'] = df_merged['DistrictOrganizationId_x'].astype('object') 
df_merged['SchoolYear'] = df_merged['SchoolYear'].astype('object')
df_merged['DistrictCode_y'] = df_merged['DistrictCode_y'].astype('object')
df_merged['ESDOrganizationId'] = df_merged['ESDOrganizationId'].astype('object')

## 05. Descriptive analysis

In [86]:
# Basic descriptive analysis on df_merged

df_merged.describe()

,Enrollment_Elementary,FullTimeALE_Elementary,OptOut_Elementary,TypicalInPerson_Elementary,Weekly_Elementary,Enrollment_Middle,FullTimeALE_Middle,OptOut_Middle,TypicalInPerson_Middle,Weekly_Middle,...,Students with Disabilities,Non-English Language Learners,Non-Highly Capable,Non-Homeless,Non-Low Income,Non Migrant,Non Military Parent,Non Mobile,Non Section 504,Students without Disabilities
count,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000,363359.00000,363359.000000,363359.000000,363359.000000,...,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000,363359.000000
mean,3938.303427,50.402395,729.421778,1984.913672,2068.130284,1902.551023,31.49436,296.517205,663.826678,803.604793,...,30.337495,191.188698,203.398518,212.497827,120.039861,212.621826,211.283155,209.142347,208.436345,186.630456
std,4717.465305,167.846026,1323.786556,3291.259156,2896.017035,2064.073723,127.64161,589.870543,1160.918824,1261.318720,...,120.346430,770.948200,818.471299,863.942535,532.416537,870.724412,863.225854,854.745501,843.898384,762.794277
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,282.000000,0.000000,1.000000,91.000000,90.000000,128.000000,0.00000,0.000000,24.000000,25.000000,...,4.000000,24.000000,25.000000,25.000000,9.000000,26.000000,25.000000,24.000000,25.000000,20.000000
50%,1914.000000,0.000000,109.000000,745.000000,861.000000,1002.000000,0.00000,23.000000,152.000000,203.000000,...,10.000000,56.000000,64.000000,66.000000,32.000000,66.000000,65.000000,64.000000,66.000000,57.000000
75%,6569.000000,18.000000,825.000000,2529.000000,2865.000000,3583.000000,17.00000,290.000000,800.000000,1029.000000,...,26.000000,153.000000,160.000000,165.000000,85.000000,165.000000,164.000000,162.000000,163.000000,144.000000
max,66202.000000,2596.000000,7500.000000,38647.000000,13550.000000,10419.000000,2238.00000,3496.000000,6596.000000,5601.000000,...,4853.000000,27558.000000,27933.000000,30954.000000,28106.000000,31138.000000,31065.000000,30469.000000,29144.000000,27894.000000

## 6. Export data

In [87]:
# Export data to csv.

df_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_merged_v2.csv'))